* {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
}
.header a {
  text-decoration: none;
  color: black;
  letter-spacing: 4px;
}
.an,
.right a {
  margin: 9px;
  padding: 9px;
  display: inline-block;
}
.an:hover,
.right a:hover {
  background-color: rgba(0, 0, 0, 0.329);
}
/* sec2 */
.sec2 img {
  height: auto;
  width: 100%;
}
.sec2 {
  position: relative;
}
.h {
  left: 0;
  bottom: 0;
  position: absolute;
  padding: 12px 24px;
  opacity: 0.6;
  line-height: 3;
  margin: 20px;
  font-size: 25px;
  font-weight: 400;
}
/* sec3 */
.sec3 {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 176px;
  padding-right: 168px;
}
.par {
    padding: 30px;
    margin: 30px;
  }
  .par h1
    {
    text-align: center;
    margin: 20px;
  }
  .par .w{
    text-align: center;
    margin: 20px;
  }
  .par h1 {
    font-size: 3rem;
    margin: 15px;
    margin-bottom: 20px;
  }
 
/* .im {
    padding: 30px;
  } */

  /* sec4 */
.sec4 {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 210px;
  padding-right: 210px;
  align-items: center;
}
#image {
  width: "500";
  height: "700";
}
.l {
  letter-spacing: normal;
  font-size: 18px;
  line-height: 1.5;
}
.lr {
  letter-spacing: normal;
  font-size: 18px;
  line-height: 1.5;
  color: gray;
}
hr {
  border: 1px solid rgba(128, 128, 128, 0.082);
}
h5 {
  font-size: 20px;
}
.ar h1 {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px;
}
.ar {
  padding-right: 40px;
}
.ar p {
  letter-spacing: normal;
  color: gray;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* form */
.e {
  letter-spacing: normal;
  line-height: 2;
  margin-bottom: 20px;
}
.q {
  padding: 90px;
  margin-left: 60px;
  margin-right: 60px;
  line-height: 1;
}
.q h1 {
  margin-bottom: 50px;
}
h4 {
  color: rgba(0, 0, 255, 0.678);
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.for {
  padding-top: 16px;
  padding-bottom: 18px;
  padding-left: 10px;
  /* padding: 8px; */
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
input {
  letter-spacing: normal;
  font-size: 15px;
}
button {
  border: none;
  color: black;
  background-color: rgba(204, 204, 204, 0.397);
  margin: 15px;
  padding: 15px;
  letter-spacing: normal;
}
button:hover{
    background-color: rgb(177 130 130);
}
/* footer */
footer {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  background-color: #ccc;
}
footer p {
  letter-spacing: normal;
}
/* responsivness */
@media only screen and (max-width: 800px) {
  .right {
    overflow: hidden;
    width: 100%;
    display: none;
  }
  .sec3 .im {
    display: none;
  }
  .h {
    font-size: 16px;
    line-height: 1;
  }
  .par {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .par h1 {
    margin: 0px;
    font-size: 2rem;
    text-align: center;
    overflow: hidden;
  }
  .sec3 {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .par p {
    margin: 5px;
    padding: 10px;
  }
  .sec4 {
    display: flex;
    flex-direction: column-reverse;
  }
  .sec4 .im img {
    height: auto;
    width: 100%;
  }
  .sec3 .im img {
    height: auto;
    width: 100%;
  }
  .q {
    padding: 10px;
    margin: 10px;
  }
}
@media only screen and (max-width: 1300px) {
  #image {
    max-width: 100%;
    height: 100%;
  }
  #secimg{
      max-width: auto;
    height: 100%;
  }
  .sec4 {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .sec3{
    padding-left: 15px;
    padding-right: 15px;
  }
}
